table.striped-table tr:nth-child(even) {
  background-color: rgb(226, 226, 226);
}

/* table.vertical-table td {
  word-break:break-all;
} */

.bd-page-width {
  max-width: 100%;
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%;
}

/* .bd-sidebar-primary {
  flex-basis: 12.5%;
} */